# Cello requirements
threadpoolctl
scipy
matplotlib
dnaplotlib
sbol3
py4j
fastapi
uvicorn

# RAG requirements
langchain
langchain-community
supabase
python-dotenv
fastapi
uvicorn
pydantic
langchain_ollama

